<div class="sidebar">
  <h2 class="logo">
    <img src="assets/logo.png" alt="logo" class="icon">
  </h2>
  <ul>
    <li routerLink="/accueil" routerLinkActive="active">
      <i class="fa fa-home"></i> Accueil
    </li>
    <li routerLink="/profil" routerLinkActive="active">
      <i class="fa fa-user"></i> Profil
    </li>
    <li routerLink="/invitations" routerLinkActive="active">
      <i class="fa fa-envelope"></i> Invitations
    </li>
    <li routerLink="/message" routerLinkActive="active">
      <i class="fa fa-comment"></i> Message
    </li>
    <li routerLink="/historique" routerLinkActive="active">
      <i class="fa fa-history"></i> Historique
    </li>
    <li routerLink="/page-accueil" routerLinkActive="active">
      <i class="fa fa-sign-out"></i> Déconnexion
    </li>
  </ul>
</div>
